@import url('https://fonts.googleapis.com/css2?family=Labrada:wght@400;600&family=Manrope:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body, *, ul, li, a {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}